.order-button {
	border-radius: 16px;
	margin-right: 6px;
	background-color: #546367;
	padding-top: 6px;
}

#direction-button {
	box-sizing: border-box;
	border-radius: 16px;
	margin-right: 6px;
	background-color: #546367;
	padding-top: 6px;
}

#search-input-close {
	box-sizing: border-box;
	border-radius: 16px;
	border-left: 0 solid;
	border-top-left-radius: 0;
	border-bottom-left-radius: 0;
	border-color: #dee2e6;
	margin-right: 6px;
	padding-top: 6px;
	background-color: transparent;
	color: #495057;
	font-weight: 400;
	font-size: 1rem;
	padding-top: 6px;
	padding-right: 8px;
}

.border {
	border-radius: 16px;
}

#search-button {
	background-color: #546367;
	border-radius: 16px;
}

.size-button {
	background-color: #546367;
	padding-top: 6px;
}

.sign-link {
	font-size: 1.6rem;
	margin-top: 6px;
	margin-bottom: 12px;
	margin-left: 8px;
	margin-right: 8px;
}

.sign-divider {
	margin-top: 6px;
	margin-bottom: 12px;
	margin-left: 8px;
	margin-right: 8px;
	padding-top: 0.6rem;
}